/*
Robby the GrandPy Bot,
7th project of OC Python Developer Path.
Author: Loïc Mangin
*/


/* FOR GRID DEBUG */
/*
[class*="col-"] {
    border: 1px solid grey;
}
*/


/* body, h1-h6 */
body {
    background-image: url("../img/background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    color: #90EE90;
}

h1 {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
}

h2 {
    font-style: italic;
    font-size: 2em;
}

/* Header zone */
header {
    background-image: linear-gradient(black, #003300);
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    border-bottom: solid 2px lightgreen;
}

#logo {
    background-image: url("../img/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;

}

/* Chat zone */
#chatwindow, #ajax-loader, .altaira, .map, .robby, #chatform, input {
    border-radius: 10px;
}

#chatwindow, .map, .robby {
    border: solid 2px lightgreen; 
}

#chatwindow {
    opacity: 0.7;
    background-color: #003300;
    height: 600px;
    margin: 0px 10px 10px 0;
    overflow: auto;
}

#ajax-loader {
    width: 100%;
    margin: 10px;
}

.altaira, .robby {
    width: 75%;
    border-width: 1px;
    margin: 10px;
}

.altaira {
    position: relative;
    left: 22%;
    background-color: indianred;
    text-align: right;
    font-style: italic;
}

.map {
    width: 75%;
    height: 180px;
    margin: 10px;
}

.robby {
    background-color: #002200;
    opacity: 1;
    font-family:"Courier New", sans-serif;
    padding: 5px;
    text-align: left;
}

input, .altaira {
    background-color: indianred;
    border: solid 2px tan;
    padding: 5px;
    color: wheat;
}

#chatform {
    margin: 20px 0 20px 0;
    font-size: 1.3em;
}

input {
    opacity: 0.7;
    padding: 5px;
}

#submit {
    background-color: #c33c3c;
    opacity: 1;
    font-size: 1.1em;
    font-style: normal;
}

/* Footer zone */
footer {
    background-image: linear-gradient(to top, black, #003300);
    padding: 10px 0 10px 0;
    margin-top: 20px;
    border-top: solid 2px lightgreen;
    font-size: 0.8em;
}


/* CSS ADJUSTEMENTS FOR TABLETS */
@media all and (max-device-width: 1280px)
{
    /* Chat zone */
    #chatwindow {;
        height: 510px;
    }
}


/* CSS ADJUSTEMENTS FOR SMARTPHONES */
@media all and (max-device-width: 480px)
{
    /* Header zone */
    #logo {
        background-image: url("../img/logo-xs.jpg");
        height: 70px;
    }

    /* Chat zone */
    #chatwindow {;
        height: 440px;
        margin: 0;
    }

    .altaira, .robby {
        font-size: 0.9em;
    }

    .altaira {
        left: 20%;
    }

    .map {
        height: 120px;
    }

    #chatform {
        margin: 10px 0 10px 0;
        font-size: 1.2em;
    }

    #submit {
        font-size: 1.2em;
    }

    /* Footer zone */
    footer {
        margin-top: 10px;
    }
}